In [1]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [9]:
for temp in range(10,20):
    print(temp,end=" ")

10 11 12 13 14 15 16 17 18 19

In [34]:
lists=[20,10,16,19,25,1,276,188]
for num in lists:
    if((num%2)==1):
        print(num,"is odd")

19 is odd
25 is odd
1 is odd

In [1]:
lists=[20,10,16,19,25,1,276,188]
for num in lists:
    if((num%2)==0):
        print(num,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even

In [43]:
print("artificial intelligence")
name="artificial intelligence"
for temp in name:
    print(temp)

artificial intelligence
a
r
t
i
f
i
c
i
a
l

i
n
t
e
l
l
i
g
e
n
c
e

In [17]:
list2=[10,20,14,55,43,87,76]
print(list2)
print("number of item in the list2:")
print(len(list2))

[10, 20, 14, 55, 43, 87, 76]
number of item in the list2:
7

In [27]:
list1=["-your name-", "-your age-","-your profession"]
for temp in list1:
    print(temp)

-your name-
-your age-
-your profession

In [39]:
Tuple=(1,'welcome', 2,'hope')
print(Tuple)

(1, 'welcome', 2, 'hope')

In [41]:
tuple1=(0,1,2,3)
tuple2=('python','hope')
tuple3=(tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'hope'))